@import '../styles/variable';

.wrap {
  padding-left: 130px;
  padding-right: 130px;

  @media screen and (max-width:767px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.description {
  font-size: $FontSizeS;
  line-height: $mainLineHeight;
}

.list {
  margin-top: 30px;
}

.item {
  border: 1px solid #fff;
  padding: 20px;

  & + & {
    margin-top: 20px;
  }
}

.sitename {
  font-size: 18px;
}

.text {
  margin-top: 15px;
  font-size: 15px;
  line-height: 1.8;
}
