@import '../styles/variable';

.wrap {
  display: flex;

  @media screen and (max-width:767px) {
    display: block;
    border: solid $white;
    border-width: 1px;
    padding: 15px 20px 40px;
  }
}

.main {
  width: calc(100% - 270px);
  border: solid $white;
  border-width: 1px;
  padding: 25px 30px 60px;
  position: relative;

  &::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    left: -6px;
    top: 0;
    background: $white;
  }

  @media screen and (max-width:767px) {
    width: 100%;
    padding: 0;
    border: none;

    &::before {
      content: none;
    }
  }
}

.date {
  padding-top: 35px;
  width: 270px;
  text-align: right;
  font-family: $font_en;
  font-size: $FontSizeS;
  letter-spacing: $letterSpacingMin;

  &::after {
    content: "";
    width: 97px;
    height: 1px;
    background: $white;
    vertical-align: middle;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
  }

  @media screen and (max-width:767px) {
    padding-top: 0;
    width: auto;
    text-align: right;
    display: flex;
    align-items: center;
    font-size: $FontSizeS_SP;

    &::after {
      content: none;
    }

    &::before {
      content: "";
      width: auto;
      height: 1px;
      background: $white;
      vertical-align: middle;
      display: inline-block;
      margin-right: 7px;
      flex: 1;
      opacity: 0.5;
    }
  }
}

.heading {
  font-size: $basicFontSize;
  line-height: $LineHeightmin;

  @media screen and (max-width:767px) {
    font-size: $basicFontSizeSP;
    margin-top: 10px;
  }
}

.category {
  font-family: $font_en;
  font-size: $FontSizeS;
  margin-top: 10px;
  letter-spacing: $letterSpacingMin;

  @media screen and (max-width:767px) {
    font-size: $FontSizeS_SP;
  }
}

.body {
  font-size: $FontSizeXS;
  line-height: $mainLineHeight;
  margin-top: 25px;

  & p:not(:first-child) {
    margin-top: 1em;
  }

  & pre {
    margin-top: 25px;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    white-space: pre-wrap;
  }

  & h2 {
    border-bottom: 1px solid $white;
    padding-bottom: 8px;
    margin-top: 30px;
    font-size: $basicFontSize;
  }

  & blockquote {
    margin-top: 1em;
    border-left: 1px solid $white;
    padding-left: 12px;
  }
}

.back {
  text-align: center;
  margin-top: 60px;
  letter-spacing: $letterSpacingMin;

  @media screen and (max-width:767px) {
    margin-top: 40px;
  }
}

.backlink {
  font-family: $font_en;
  font-size: $FontSizeS;
  display: inline-block;
  border-bottom: 3px solid $white;
  padding: 0 3px 3px;
  text-decoration: none;
  transition: padding .2s;

  &:hover {
    padding: 0 13px 3px;
  }

  @media screen and (max-width:767px) {
    font-size: $FontSizeS_SP;
  }
}

.share {
  margin-top: 20px;

  > button {
    margin-right: 10px;
  }
}
