.container {
  display: flex;
  padding-bottom: 40px;

  @media screen and (max-width:1169px) {
    padding-right: 20px;
  }

  @media screen and (max-width:767px) {
    padding-left: 20px;
  }
}

.main {
  width: calc(100% - 290px - 32px);

  @media screen and (max-width:1169px) {
    width: 100%;
  }
}
