$mainBGBlue: #04B1DB;
$mainBGPurple: #9716E8;
$white: #fff;

$font_en: 'Crimson Text', serif;

$letterSpacing: 0.5em;
$letterSpacingMin: 0.2em;

$basicFontSize: 19px;
$FontSizeS: 17px;
$FontSizeXS: 14px;

$basicFontSizeSP: 17px;
$FontSizeS_SP: 15px;

$mainLineHeight: 1.8;
$LineHeightmin: 1.4;
